.animate__animated{
    overflow: hidden;
}
header{
    position: relative;
    z-index: 2;
    & .logo,& .logo-mobile{
        height: auto;
        max-width: 280px;
        margin-top: -7px;
        width: 100%;
    }
    & .logo-mobile{
        @media all and (min-width: 991px){
            display: none;
            opacity: 0;
        }
        &.visible-mobile{
            display: block;
            position: fixed;
            top: 30px;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
            text-align: center;
            z-index: 8889;
        }
    }
    & nav#gsweb-desktop-menu{
        @media all and (max-width: 1200px){
            transition: all ease-in-out 0.5s;
            &.active{
                align-items: center;
                background: #29abe2;
                display: flex!important;
                height: 100%;
                justify-content: center;
                left: 0;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 8887;
                & li{
                    display: block!important;
                    text-align: center!important;
                    margin: 0 auto!important;
                    & > a{
                        border-top: 2px solid transparent;
                        border-bottom: 2px solid transparent;
                        color: var(--bs-white);
                        display: block;
                        font-size: 2rem;
                        text-decoration: none;
                        &:hover,&.link-active{
                            border-bottom: 2px solid var(--bs-white);
                            color: var(--bs-white);
                        }
                    }
                }
            }
        }
        & > ul{
            list-style: none!important;
            margin: 0!important;
            padding: 0!important;
            margin-bottom: -5px!important;
            & > li{
                &:first-of-type{
                    margin-left: auto;
                }
                display: inline-block;
                margin-left: 30px;
                & > a{
                    border-top: 2px solid transparent;
                    border-bottom: 2px solid transparent;
                    color: var(--bs-black);
                    display: block;
                    font-size: 1.2rem;
                    text-decoration: none;
                    &:hover,&.link-active{
                        border-bottom: 2px solid var(--secondary);
                        color: var(--secondary);
                    }
                }
            }
        }
    }
    & #gsweb-mobile-menu{
        padding: 5px 15px;
        &:hover{
            background: var(--secondary);
            color: var(--bs-white);
        }
    }
}
.gsweb-right-btn{
    cursor: pointer;
    color: white;
    right: 15%;
    top: 50%;
    font-size: 50px;
    transform: translateY(-50%);
    @media all and (max-width: 1600px){
        right: 8%;
    }
}
.gsweb-btn-close{
    background: transparent;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.gsweb-top-alert{
    background: {
        color: var(--bs-primary);
        image: url(../assets/images/top-background-image.png);
        size: cover;
        position: center center;
    }
    @media all and (max-width: 991px) {
        padding-bottom: 20px!important;
        padding-top: 20px!important;
        & h2{
            font-size: 1rem!important;
        }
    }
}
.gsweb-menu-close{
    @media all and (min-width: 991px){
        display: none;
        opacity: 0;
    }
    background: transparent;
    top: 20px;
    right: 30px;
    font-size: 40px!important;
    cursor: pointer;
}
.all-logos img{
    height: auto;
    max-width: 90%;
}
.gsweb-jslide{
    height: 150px!important;
}
.gsweb-contributors{
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    & .gsweb-item{
        position: relative;
        &.gsweb-item-gradient::before{
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background: linear-gradient(to bottom, transparent 0%, var(--primary) 50%);
            opacity: 0.8;
            z-index: 1;
        }
        & p{
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }
        & h6{
            bottom: 6%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }
    }
}
.gsweb-bg-cover{
    background: {
        color: var(--primary);
        image: url(../assets/images/24@2x.png);
        position: center;
        size: cover;
        repeat: no-repeat;
    }
    & h3 > .fw-lighter{
        font-family: var(--bs-font-sans-serif)!important;
    }
}

// Events
.gsweb-bg-event{
    background: {
        color: var(--primary);
        image: url(../assets/images/header_events.png);
        size: cover;
        position: center;
        repeat: no-repeat;
    }
    position: relative;
    &::before{
        background: linear-gradient(to left,var(--secondary) 0%, var(--primary) 50%);
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.8;
        height: 100%;
        width: 100%;
        z-index: 0;
    }
}

article{
    cursor: pointer;
    & .wm-image-75{
        height: 100px!important;
    }
}

// News
.gsweb-bg-news{
    background: {
        color: var(--primary);
        image: url(../assets/images/header_news.png);
        size: cover;
        position: center;
        repeat: no-repeat;
    }
    position: relative;
    &::before{
        background: linear-gradient(to left,var(--primary) 0%, var(--secondary) 50%, var(--primary) 100%);
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        height: 100%;
        width: 100%;
        z-index: 0;
    }
}
section{
    position: relative;
    z-index: 0;
}